VITE_DUMMYJSON_URL=https://dummyjson.com/products/category/beauty
VITE_MAKEUP_API_URL=http://makeup-api.herokuapp.com/api/v1/products.json
VITE_FAKESTORE_MEN_URL=https://fakestoreapi.com/products/category/men's clothing
VITE_FAKESTORE_WOMEN_URL=https://fakestoreapi.com/products/category/women's clothing
VITE_FAKESTORE_JEWELRY_URL=https://fakestoreapi.com/products/category/jewelery
VITE_ESCUELAJS_URL=https://api.escuelajs.co/api/v1/products
