VITE_DUMMYJSON_MENS_SHIRTS_URL=https://dummyjson.com/products/category/mens-shirts
VITE_DUMMYJSON_MENS_SHOES_URL=https://dummyjson.com/products/category/mens-shoes
VITE_DUMMYJSON_WOMENS_DRESSES_URL=https://dummyjson.com/products/category/womens-dresses
VITE_DUMMYJSON_WOMENS_SHOES_URL=https://dummyjson.com/products/category/womens-shoes
VITE_DUMMYJSON_WOMENS_BAGS_URL=https://dummyjson.com/products/category/womens-bags
VITE_DUMMYJSON_WOMENS_JEWELLERY_URL=https://dummyjson.com/products/category/womens-jewellery
VITE_DUMMYJSON_SUNGLASSES_URL=https://dummyjson.com/products/category/sunglasses
VITE_DUMMYJSON_MENS_WATCHES_URL=https://dummyjson.com/products/category/mens-watches
VITE_DUMMYJSON_WOMENS_WATCHES_URL=https://dummyjson.com/products/category/womens-watches
VITE_DUMMYJSON_TOPS_URL=https://dummyjson.com/products/category/tops
VITE_DUMMYJSON_BEAUTY_URL=https://dummyjson.com/products/category/beauty
VITE_DUMMYJSON_FRAGRANCES_URL=https://dummyjson.com/products/category/fragrances
VITE_FAKESTORE_MEN_URL=https://fakestoreapi.com/products/category/men's clothing
VITE_FAKESTORE_WOMEN_URL=https://fakestoreapi.com/products/category/women's clothing
VITE_FAKESTORE_JEWELRY_URL=https://fakestoreapi.com/products/category/jewelery
VITE_ESCUELAJS_URL=https://api.escuelajs.co/api/v1/products
